<div class="row">
    <div class="col col-6 col-lg-3">
        <Resumen
            @title="Infectados"
            @color="primary"
            @trending={{trendingI}}
            @quantity={{quantityI}}
            @subtitle={{subtitleI}}
            />
    </div>
    <div class="col col-6 col-lg-3">
        <Resumen
            @title="Muertos"
            @color="danger"
            @trending={{trendingD}}
            @quantity={{quantityD}}
            @subtitle={{subtitleD}}
            />
    </div>
    <div class="col col-6 col-lg-3">
        <Resumen
            @title="Recuperados"
            @color="success"
            @trending={{trendingR}}
            @quantity={{quantityR}}
            @subtitle={{subtitleR}}
            />
    </div>
    <div class="col col-6 col-lg-3">
        <Resumen
            @title="Criticos"
            @color="warning"
            @trending={{trendingC}}
            @quantity={{quantityC}}
            @subtitle={{subtitleC}}
            />
    </div>
</div>